.top-header
  .container
    .inner-wrap
      if(settingWebsiteInfo.numberPhone)
        .inner-item
          i.fa-solid.fa-phone
          | #{settingWebsiteInfo.numberPhone}
      if(settingWebsiteInfo.email)
        .inner-item
          i.fa-solid.fa-envelope
          | #{settingWebsiteInfo.email}
      if(settingWebsiteInfo.numberPhone)
        .inner-item
          i.fa-solid.fa-building
          | #{settingWebsiteInfo.place}