extends ../layouts/default.pug


block main
  
  .not-found
    img(src="assets/images/404.png", alt="")
    .inner-title Trang này không tồn tại...
    button.inner-button-back Trở về trang tổng quan