extends ../layouts/account.pug
include ../mixins/checkbox.pug



block main 
  .form-account  
    h1.inner-title Đổi mật khẩu
    .inner-desc Vui lòng nhập mật khẩu để tiếp tục
    form(action="" class="inner-form" id = "resetPassword")
      .inner-group 
        label.inner-label(for="NewPassword") Mật khẩu mới
        input(type="password" id="NewPassword" name="NewPassword" class ="inner-control")
      .inner-group 
        label.inner-label(for="ConfirmPassword") Xác nhận mật khẩu
        input(type="password" id="ConfirmPassword" name="ConfirmPassword" class ="inner-control")
      button.inner-button Thay đổi
      .inner-more
        span Quay lại trang đăng nhập     
        a(href=`/${pathAdmin}/account/login`) Đăng nhập
 
      

    

