extends ../layouts/default.pug
include ../mixins/checkbox.pug

block main
  h1.box-title Đổi mật khẩu

  .section-8
    form(action="" id ="changePasswordManger")
      .inner-group
        label.inner-label(for="Password") Mật khẩu mới
        input(type="password" name="Password" id="Password")
      .inner-group
        label.inner-label(for="ConfirmPassword") Xác nhận lại mật khẩu mới
        input(type="password" name="ConfirmPassword" id="ConfirmPassword")
      .inner-button.inner-two-col
        button Đổi mật khẩu