extends ../layouts/default.pug
include ../mixins/checkbox.pug


block main
  h1.box-title Đơn hàng: OD000001

  .section-8
    form(action="" id="orderEdit")
      .inner-group
        label.inner-label(for="name") Tên khách hàng
        input(type="text" name="name" id="name")
      .inner-group
        label.inner-label(for="numberPhone") Số điện thoại
        input(type="number" name="numberPhone" id="numberPhone")
      .inner-group
        label.inner-label(for="email") Email khách hàng
        input(type="email" name="email" id="email")
      .inner-group.inner-two-col
        label.inner-label(for="note") Ghi chú
        textarea(name="note" id = "note") 
      .inner-group
        label.inner-label(for="paymentMethod") Phương thức thanh toán
        select(name="paymentMethod" id="paymentMethod")
          option(value="momo") Ví MoMo
          option(value="bank") Chuyển Khoản
          option(value="zaloPay") ZaloPay 
          option(value="money") Tiền mặt  
      .inner-group
        label.inner-label(for="paymentStatus") Trạng thái thanh toán
        select(name="paymentStatus" id="paymentStatus")
          option(value="unPaid") Chưa thanh toán
          option(value="paid") Đã thanh toán
      .inner-group
        label.inner-label(for="date") Ngày đặt
        input(type="text" name="date" id="date")
      .inner-group
        label.inner-label(for="status") Trạng thái
        select(name="status")
          option(value="init") khởi tạo
          option(value="done") Hoàn thành
          option(value="cancel") Hủy
      .inner-group
        label.inner-label(for="list") Danh sách sách
        .book-list 
          .book-item
            img(src="assets/images/tour-1.png", alt="" class="inner-image")
            .inner-content
              .inner-name Tiểu thuyết Mưa đỏ
              .inner-desc
                div Số lượng: 2 x 150.000đ
                div Thể loại: Tiểu thuyết
                div Tác giả: Nguyễn Nhật Ánh
      .inner-group
        label.inner-label(for="pay") Thanh toán
        .inner-pay
          div Tổng tiền: 300.000đ
          div Giảm: 75.000đ
          div Mã giảm: UUDAITHANG124
          div Thanh toán: 225.000đ
      .inner-button.inner-two-col
        button Cập nhật
    .inner-back
        a(href="") Quay lại danh sách 