extends ../layouts/default.pug



block main
  h1.box-title  Cài đặt chung
  //- Section-1
  .section-1
    .inner-item
      .inner-icon-setting
        img(src="assets/images/setting-1.png", alt="")
      .inner-content
        .inner-title-setting Thông tin website
    .inner-item
      .inner-icon-setting
        img(src="assets/images/setting-2.png", alt="")
      .inner-content
        .inner-title-setting Tài khoản quản trị
    .inner-item
      .inner-icon-setting
        img(src="assets/images/setting-3.png", alt="")
      .inner-content
        .inner-title-setting Nhóm quyền
     
  //- Section-1
  //- Section-2


    

