mixin breadcumb()
  .breadcrumb
    .inner-image
      img(
        alt="" 
        src="/client/assets/images/bg.png"
        )
    .inner-content
      .container
        .inner-wrap
          h1.inner-title Tiểu thuyết
          nav.inner-links
            a(href="#") Trang Chủ
            i.fa-solid.fa-angles-right
            a(href="#") Tiểu thuyết