header.header
  .inner-button
    .inner-button-menu
        <i class="fa-solid fa-bars"></i>
    .inner-logo
      a(href="#")
        span ThangLong
        span Admin
  .inner-wrap 
    .inner-notify
      img(src="/admin/assets/images/notification.png", alt="")
    .inner-account 
      .inner-avatar
        img(src="/admin/assets/images/logo.png", alt="")
      .inner-text
        .inner-name #{account.fullname}
        .inner-role Admin
   
